* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #000;
  color: #fff;
  flex: 1 !important;
  width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #1976d2;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: #1976d2;
  color: #000;
}

.icon,
.link_text {
  font-size: 14px;
}

.css-1999axt-MuiAvatar-root {
  background-color: #1976d2 !important;
}

.css-1t29yh9-MuiTypography-root {
  color: black !important;
}
